<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Johnson | Portfolio</title>
    <link rel="stylesheet" href="/css/style_about.css">
    <link rel="stylesheet" href="/css/general.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init({
                publicKey: "tf3_YxvKcoCN7tgzo",
            });
        })();
    </script>
</head>

<body>
    <%- include ('partials/navbar') %>
        <p class="scroll-watcher"></p>
        <h3 class="title-p text-center my-4">About Me</h3>
        <div class="container">
            <div class="about-container">
                <div class="profile">
                    <img src="/images/profile.jpg" alt="Profile Picture" class="profile-img">
                </div>

                <div class="about-content">
                    <section class="intro">
                        <h2>About Me</h2>
                        <p>Hello! I'm Johnson Chong, an aspiring UI/UX Designer with a focus on creating sleek and
                            responsive designs. Currently, I'm pursuing a Diploma in Digital Design and Development at
                            Republic Polytechnic. With a strong foundation in HTML, CSS, JavaScript and Figma, I aim to craft
                            engaging user experiences. When I'm not coding or designing, you'll find me exploring nature, capturing
                            moments through photography, or traveling to new places.</p>
                    </section>

                    <section class="skills">
                        <h2>Skills</h2>
                        <ul>
                            <li>HTML, CSS, JavaScript</li>
                            <li>UI/UX Design (Figma, React)</li>
                            <li>Data Visuallisation (PowerBI, Tableau)</li>
                            <li>Node.js and Express.js</li>
                            <li>Database Systems (MySQL)</li>
                        </ul>
                    </section>

                    <section class="hobbies">
                        <h2>Hobbies & Interests</h2>
                        <p>I love photography, hiking, and traveling. These activities fuel my creativity and help me
                            bring unique perspectives to my work in digital design and development.</p>
                    </section>
                </div>
            </div>
        </div>
        <div class="container-c my-5">
            <div class="row">
                <div class="col-md-5 text-light custom-col">
                    <h3 class="custom-msg">
                        <%- about.message %>
                    </h3>
                    <hr class="custom-underline">
                    <div class="contact-info mt-4 row justify-content-start">
                        <div class="col-auto d-flex align-items-center me-3">
                            <a href="<%- about.github %>" class="ms-2"><img src="/images/github-icon.png"
                                    alt="GitHub icon" class="custom-icon"></a>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <a href="<%- about.linkedin %>" class="ms-2"><img src="/images/linkedin.png"
                                    alt="LinkedIn icon" class="custom-icon"></a>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <form id="contact-form">
                        <div class="mb-3">
                            <input type="text" id="name" class="form-control custom-input" name="name" placeholder="Name*"
                                required>
                        </div>
                        <div class="mb-3">
                            <input type="email" id="email" class="form-control custom-input" name="email" placeholder="Email*"
                                required>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control custom-input" id="message" name="message" rows="7" placeholder="Message"
                                required></textarea>
                        </div>
                        <button type="submit" onclick="sendEmail()" class="btn custom-button">Send</button>
                    </form>
                </div>

            </div>
        </div>
        <%- include ('partials/footer') %>
            <script src="/js/email.js"></script>
</body>

</html>